@import '../../style/varibles.scss';

.album-card {
    display: flex;
    flex-direction: column;
    width: 280rpx;
    overflow: hidden;
    align-items: center;

    .image {
        width: 280rpx;
        height: 280rpx;
        border-radius: 30rpx;
        overflow: hidden;
    }

    .title {
        max-width: 150rpx;
        margin-top: 20rpx;
        line-height: 38rpx;
        font-size: 32rpx;
        color: $text-active-color;
    }

    .description {
        max-width: 150rpx;
        margin-top: 10rpx;
        font-size: 24rpx;
        color: #7A869A;
        line-height: 30rpx;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}